<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="2.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>deselectfolders</string>
    <key>CFBundleIdentifier</key>
    <string>com.mrfragger.deselectfolders</string>
    <key>CFBundleName</key>
    <string>deselectfolders</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>11.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>NSAppleEventsUsageDescription</key>
    <string>deselectfolders needs permission to ask Finder which folder is selected in order to zip it.</string>
</dict>
</plist>
